* {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: wheat;
}

p {
  font-size: 2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;  
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 3em 1em;
}

button {
  height: 2em;
  width: 2em;
  font-size: 2em;
}